<h1>Polit SHRTMESSAGE</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Willkommen zu Polit SHRTMESSAGE!
</p>
<p>
Bitte klicke auf den folgenden Link um deinen Account zu bestätigen:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
