Hi <%= @user.name %>,

Willkommen zu Polit SHRTMESSAGE!
Bitte klicke auf den folgenden Link um deinen Account zu bestätigen:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
