<footer class="footer">
  <small>
    <a href="https://serene-plains-88656.herokuapp.com/">Website</a>
    by <a href="https://www.cloud.amin-l.de/">Amin Laroussi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="https://serene-plains-88656.herokuapp.com/">Impressum</a></li>
    </ul>
  </nav>
</footer>
